<div [formGroup]="entityGroup">
    <div style="color: blue">parentCtrlName: {{parentCtrlName}}</div>
    <div *ngFor="let item of entityGroup.controls.entityFormArray.controls; let i=index" [formGroup]="item">
        <div>
            <ng-container *ngIf="!isDistribution; else distribution">
                Entity Amount : <input formControlName="amount" (blur)="onBlurAmount(item, i)">
                
            </ng-container>
            <ng-template #distribution>
                Entity Amount : 
                <div class="two-inputs">
                    <input formControlName="amount" class="input-disabled" readonly> / <input formControlName="amountNew" (blur)="onBlurAmount(item, i)">
                </div>
            </ng-template>
        </div>
        <hr>
    </div>
</div>


<!-- 
<div style="direction: ltr;">
    <h2>entityGroup: </h2>
    <pre>{{entityGroup.value | json}}</pre>
</div> -->