<form [formGroup]="addressForm">
    <div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" formControlName="street">
                <mat-error *ngIf="addressForm.controls.street.invalid">שדה לא תקין</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city">
                <mat-error *ngIf="addressForm.controls.city.invalid">שדה לא תקין</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country" formControlName="country">
                <mat-error *ngIf="addressForm.controls.country.invalid">שדה לא תקין</mat-error>
            </mat-form-field>
        </div>
       
    </div>
</form>